<p id="notice"><%= notice %></p>

<p>
  <strong>Membership:</strong>
  <%= @member.membership_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @member.father_name %>
</p>

<p>
  <strong>Husband:</strong>
  <%= @member.husband %>
</p>

<p>
  <strong>Village:</strong>
  <%= @member.village %>
</p>

<p>
  <strong>Postoffice:</strong>
  <%= @member.postOffice %>
</p>

<p>
  <strong>Thana:</strong>
  <%= @member.thana %>
</p>

<p>
  <strong>District:</strong>
  <%= @member.district %>
</p>

<p>
  <strong>Present address:</strong>
  <%= @member.present_address %>
</p>

<p>
  <strong>District:</strong>
  <%= @member.district %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>Acknowledgement name:</strong>
  <%= @member.acknowledgement_name %>
</p>

<p>
  <strong>Acknowledgement relation:</strong>
  <%= @member.acknowledgement_relation %>
</p>

<p>
  <strong>Date of enrollment:</strong>
  <%= @member.date_of_enrollment %>
</p>

<p>
  <strong>Roll:</strong>
  <%= @member.roll %>
</p>

<p>
  <strong>Date of past enrollment:</strong>
  <%= @member.date_of_past_enrollment %>
</p>

<p>
  <strong>Date of cancel:</strong>
  <%= @member.date_of_cancel %>
</p>

<p>
  <strong>Cancel roll:</strong>
  <%= @member.cancel_roll %>
</p>

<p>
  <strong>Status:</strong>
  <%= @member.status %>
</p>

<p>
  <strong>Date of membership:</strong>
  <%= @member.date_of_membership %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @member.created_by_id %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @member.updated_by_id %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
